<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="HT_2">

        <parameter name="URL" value="https://github.com/login"></parameter>
        <parameter name="GitLogin" value="kalter1w@gmail.com"></parameter>
        <parameter name="GitPass" value="Nicita001200499"></parameter>
        <parameter name="Browser" value="EDGE"></parameter>
        <parameter name="SearchQuery" value="HT_2"></parameter>
        <parameter name="TestNgVersion" value="7.5"></parameter>

        <classes>
            <class name="RepositoryTests.AuthorizationTest"></class>
        </classes>
    </test>

</suite>